@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html, body {
    height: 100%;
    width: 100%;
}

.background::before {
    /* background-image: url("../img/bg_login.jpg"); */
    /* background-size: cover; */
    content: "";
    filter: blur(4px);
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}

.background::after {
    background-color: gray;
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;

}

.login-card {
    margin-top: 16vh;
}

.welcome-msg, .login {
    font-family: "Montserrat", sans-serif;
}
